<%= form_for @experience do |f| %>
  <% if @experience.errors.any? %>
    <div id="errors_explanation">
      <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
        <% @experience.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="text-center m-b-md" id="wizardControl">

    <a class="btn btn-default" href="" data-toggle="tab">Paso 1 - Información Básica</a>
    <a class="btn btn-primary" href="" data-toggle="tab">Paso 2 - Experiencia</a>
    <a class="btn btn-default" href="" data-toggle="tab">Paso 3 - Servicio a Ofrecer</a>

  </div>

  <div class="tab-content">
  <div id="step1" class="p-m tab-pane active">

      <div class="row">
          <div class="col-lg-12">
              <div class="row">

                <div class="form-group col-lg-12">
                  <%= f.label :cargo, 'Cargo:' %>
                  <%= f.text_field :cargo, required: true, class: 'form-control', placeholder: "Ingrese el cargo desempeñado" %>
                </div>

                <div class="form-group col-lg-12">
                  <%= f.label :empresa, 'Empresa:' %>
                  <%= f.text_field :empresa, required: true, class: 'form-control', placeholder: "Ingrese el nombre de la empresa" %>
                </div>

              </div>
          </div>
      </div>

      <div class="text-right m-t-xs">
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :teacher_id, value: "#{value}" %> <!-- new = @teacher.id, edit= @teacher -->
        <%= link_to 'Volver', teachers_path, class: 'btn btn-danger' %>
        <%= f.submit "#{action} Experiencia", class: 'btn btn-success' %>
      </div>

  </div>

</div>
<% end %>
