<body class="landing-page">

  <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a href="/" class="navbar-brand">Tuttores</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li class="<%= active_class(root_path) %>"><a class="page-scroll" href="/">Home</a></li>
                  <!--<li class="<%#= active_class(teachers_path) %>"><%#= link_to 'Listado Profesores', teachers_path, class: "page-scroll"  %></li>-->
                  <li class="<%= active_class(new_tutoring_path) %>"><%= link_to 'Solicitar Tutoria', new_tutoring_path, class: "page-scroll" %></li>
                    <% if user_signed_in? %>
                      <!--<li class="<%#= active_class(current_user) %>"><%#= link_to current_user.name, current_user, class: "page-scroll" %></li>-->
                      <li class="<%= active_class(destroy_user_session_path) %>"><%= link_to 'Cerrar sesión', destroy_user_session_path, method: :delete, class: "page-scroll" %></li>
                    <% else %>
                      <li class="<%= active_class(new_user_session_path) %>"><%= link_to 'Iniciar Sesión', new_user_session_path, class: "page-scroll" %></li>
                      <li class="<%= active_class(new_user_registration_path) %>"><%= link_to 'Registrarse', new_user_registration_path, class: "page-scroll" %></li>
                    <% end %>
                    <% if user_signed_in? && current_user.admin? %>
                      <li class="<%= active_class(admins_path) %>"><%= link_to "Panel", admins_path, class: "page-scroll" %></li>
                    <% end %>
                  <li class="<%= active_class(new_teacher_path) %>"><%= link_to 'Registro como Profesor', new_teacher_path, class: "navbar-brand"  %></li>
              </ul>
          </div>
      </div>
  </nav>


  <header id="page-top">
      <%= render 'welcome/alerts' %>
      <div class="container">
          <div class="heading">
              <h1>
                  Registrate como profesor
              </h1>
              <span>Contamos con un selecto grupo de Profesores Particulares en Medellin y Bogotá</span>
              <p class="small">
                  Puedes realizar hasta cientos de clases de Matemáticas, Física o Química.
              </p>
              <%#= link_to 'Ver Profesores', teachers_path, class: "btn btn-success btn-sm"  %>
          </div>
      </div>
  </header>
