<body class="blank">
  <div class="color-line"></div>
  <div class="back-link">
      <a href="/" class="btn btn-primary">Volver al Home</a>
  </div>
  <div class="login-container">
      <div class="row">
          <div class="col-md-12">
              <div class="text-center m-b-md">
                  <h3>LOGIN</h3>
                  <small>tuttores.co</small>
              </div>
              <div class="hpanel">
                  <div class="panel-body">
                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <div class="form-group">
                        <%= f.label :email, class: "control-label" %><br />
                        <%= f.email_field :email, autofocus: true, class: "form-control", title: "Please enter you username", placeholder: "example@gmail.com" %>
                      </div>
                      <div class="form-group">
                        <%= f.label :password, class: "control-label" %><br />
                        <%= f.password_field :password, autocomplete: "off", class: "form-control", title: "Please enter your password", placeholder: "******" %>
                      </div>

                      <% if devise_mapping.rememberable? -%>
                        <div class="form-group">
                          <%= f.check_box :remember_me, class: "i-checks" %>
                          <%= f.label :remember_me %>
                        </div>
                      <% end -%>

                      <%= f.submit "Login", class: "btn btn-success btn-block" %>
                      <%= link_to 'Register', new_user_registration_path, class: "btn btn-default btn-block" %>
                    <% end %>
                    <br>
                    <%= render "devise/shared/links" %>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12 text-center">

          </div>
      </div>
  </div>
  <br><br><br>
</body>
