<!DOCTYPE html>
<html>
<head>
  <title>Tuttores</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    "helper" %>
  <%= stylesheet_link_tag    "pe-icon-7-stroke" %>
  <%= stylesheet_link_tag    "Pe-icon-7-stroke" %>
  <%= stylesheet_link_tag    "bootstrap-select" %>
  <%= stylesheet_link_tag    "prism" %>

  <%= stylesheet_link_tag    "bootstrap.min" %>
  <%= stylesheet_link_tag    "all" %>
  <%= stylesheet_link_tag    "animate" %>
  <%= stylesheet_link_tag    "awesome-bootstrap-checkbox" %>
  <%= stylesheet_link_tag    "blueimp-gallery.min" %>
  <%= stylesheet_link_tag    "bootstrap-clockpicker.min" %>
  <%= stylesheet_link_tag    "bootstrap-datepicker3.min" %>
  <%= stylesheet_link_tag    "bootstrap-datetimepicker.min" %>
  <%= stylesheet_link_tag    "bootstrap-editable" %>
  <%= stylesheet_link_tag    "bootstrap-tour.min" %>
  <%= stylesheet_link_tag    "c3.min" %>
  <%= stylesheet_link_tag    "chartist" %>
  <%= stylesheet_link_tag    "codemirror" %>
  <%= stylesheet_link_tag    "dataTables.bootstrap.min" %>
  <%= stylesheet_link_tag    "footable.core.min" %>
  <%= stylesheet_link_tag    "fullcalendar.min" %>
  <%= stylesheet_link_tag    "fullcalendar.print" %>
  <%= stylesheet_link_tag    "jquery.bootstrap-touchspin.min" %>
  <%= stylesheet_link_tag    "ladda-themeless.min" %>
  <%= stylesheet_link_tag    "metisMenu" %>
  <%= stylesheet_link_tag    "select2-bootstrap" %>
  <%= stylesheet_link_tag    "select2" %>
  <%= stylesheet_link_tag    "start-rating" %>
  <%= stylesheet_link_tag    "static_custom" %>
  <%= stylesheet_link_tag    "style" %>
  <%= stylesheet_link_tag    "summernote-bs3" %>
  <%= stylesheet_link_tag    "summernote" %>
  <%= stylesheet_link_tag    "sweet-alert" %>
  <%= stylesheet_link_tag    "toastr.min" %>

</head>

<%= render 'layouts/alerts' %>
<%= yield %>

  <%= javascript_include_tag "bootstrap-select.min" %>
  <%= javascript_include_tag "jquery-1.11.1.min" %>
  <%= javascript_include_tag "query-1.11.1.min.map" %>
  <%= javascript_include_tag "prism" %>
  <%= javascript_include_tag "main" %>

  <%= javascript_include_tag "bootstrap.min" %>
  <%= javascript_include_tag "jquery.min.min" %>
  <%= javascript_include_tag "jquery-ui.min" %>
  <%= javascript_include_tag "homer" %>
  <%= javascript_include_tag "index" %>
  <%= javascript_include_tag "javascript" %>
  <%= javascript_include_tag "query.flot.spline/index" %>
  <%= javascript_include_tag "bootstrap-clockpicker.min" %>
  <%= javascript_include_tag "bootstrap-datepicker.min" %>
  <%= javascript_include_tag "bootstrap-datetimepicker.min" %>
  <%= javascript_include_tag "bootstrap-editable.min" %>
  <%= javascript_include_tag "bootstrap-tour.min" %>
  <%= javascript_include_tag "buttons.bootstrap.min" %>
  <%= javascript_include_tag "buttons.html5.min" %>
  <%= javascript_include_tag "buttons.print.min" %>
  <%= javascript_include_tag "c3.min" %>
  <%= javascript_include_tag "Chart.min" %>
  <%= javascript_include_tag "charts" %>
  <%= javascript_include_tag "codemirror" %>
  <%= javascript_include_tag "curvedLines" %>
  <%= javascript_include_tag "d3.min" %>
  <%= javascript_include_tag "dataTables.buttons.min" %>
  <%= javascript_include_tag "footable.all.min" %>
  <%= javascript_include_tag "icheck.min" %>
  <%= javascript_include_tag "jquery.blueimp-gallery.min" %>
  <%= javascript_include_tag "jquery.bootstrap-touchspin.min" %>
  <%= javascript_include_tag "jquery.flot" %>
  <%= javascript_include_tag "jquery.flot.pie" %>
  <%= javascript_include_tag "jquery.flot.resize" %>
  <%= javascript_include_tag "jquery.nestable" %>
  <%= javascript_include_tag "jquery.peity.min" %>
  <%= javascript_include_tag "jquery.slimscroll.min" %>
  <%= javascript_include_tag "jquery.validate.min" %>
  <%= javascript_include_tag "ladda.jaquery" %>
  <%= javascript_include_tag "ladda.min" %>
  <%= javascript_include_tag "metisMenu.min" %>
  <%= javascript_include_tag "moment.min" %>
  <%= javascript_include_tag "select2.min" %>
  <%= javascript_include_tag "spin.min" %>
  <%= javascript_include_tag "start-rating.min" %>
  <%= javascript_include_tag "summernote.min" %>
  <%= javascript_include_tag "sweet-alert.min" %>
  <%= javascript_include_tag "toastr.min" %>

  <script>
    $(".alert").fadeIn(500).css("opacity","0.85").delay( 6000 ).slideUp( 1000 );
    $('.alerts').on('click','.alert',function(){ $(this).remove() });
  </script>
</html>
